<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Megadrive_app.Properties.Settings._Subota_bdConnectionString"
            connectionString="Data Source=MEPHI3-MSSQL;Initial Catalog=_Subota_bd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>